version: 2.1

executors:
  dotnet-build-executor:
    parameters:
      version:
        default: "3.1"
        type: string
    docker:
      - image: mcr.microsoft.com/dotnet/sdk:<< parameters.version >>

jobs:
  hello:
    executor: dotnet-build-executor
    steps:
      - run:
          command: echo 'hello world'

workflows:
  version: 2
  workflow:
    jobs:
      - hello